<body>
  <br>
  <h1 class="text-center"><strong><%= @topic.title %></strong></h1>
  <div class="container">
    <div class="row">
      <div class='mx-auto'>
        <div class="card" style="width: 700px">
          <% @topic_comments.each do |f| %>
          <div class="card-body">
            <div class="card-title">
              <strong><%= f.name %></strong>
              <small><%= f.created_at.to_s(:datetime_jp) %></small>
            </div>
            <div class="card-text">
              <%= safe_join(f.body.split("\n"), tag(:br)) %>
            </div>
            <% if current_user.id == f.user_id %>
            <%= link_to "削除", topic_topic_comments_path(f.id), class:"fas fa-trash-alt", method: :delete, data: { confirm: "削除してよろしいですか？"} %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="mx-auto">
        <div class="card" style="width: 700px">
          <%= form_with model:@topic_comment, url: topic_topic_comments_path(@topic) do |f| %>
          <div class="card-body">
            <% if flash[:notice] %>
            <p class="alert alert-danger"><%= flash[:notice] %></p>
            <% end %>
            <h2 class="fas fa-comment">コメント</h2>
            <div class="card-text">
              <%= f.text_field :name, class:'form-control', :placeholder => "ユーザー名"  %>
            </div>
            <br>
            <div class="card-text">
              <%= f.text_area :body, class:'form-control', :placeholder => "コメント内容" %>
            </div>
            <%= f.submit 'コメントする', class:'btn btn-primary'%>
            <% end %>
            <br>
            <% if current_user.id == @topic.user_id %>
            <%= link_to "掲示板編集", edit_topic_path(@topic.id), class:"fas fa-wrench"%>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>