<table class='table'>
    <thead>
        <tr>
            <th>写真</th>
            <th>ユーザー</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% users.each do |user| %>
        <tr>
            <td><%= attachment_image_tag(user, :image, :fill, 50, 50, fallback:
                    "no_image.jpg") %></td>
            <td><%= user.name %></td>
            <td>フォロー：<%= user.follower.count %></td>
            <td>フォロワー：<%= user.followed.count %></td>
            <td><%= link_to 'Show', user_path(user.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>