<div class="card mb-3 text-center" style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <br>
            <%= attachment_image_tag user, :image, :fill, 100, 100, class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg", size:'150x200' %>
            <% if current_user != user %>
            <% if current_user.following?(user) %>
            <div class="btn_follow_sp ">
                <%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
            </div>
            <% else %>
            <div class="btn_unfollow_sp ">
                <%= link_to 'フォローする', user_relationships_path(user.id), method: :POST, class: "btn btn-success" %>
            </div>
            <% end %>
            <%= link_to 'チャットを始める', chat_path(user.id) %>
            <% end %>

            <br>
            <div class="table-responsive">
                <tr>
                    <div class="follow_count">
                        <th>フォロー:</th>
                        <th>
                            <%= link_to user.follower.count, user_follows_path(user) %></th>
                    </div>
                    <div class="follow_count">
                        <th>フォロワー:</th>
                        <th><%= link_to user.followed.count, user_followers_path(user) %></th>
                        </th>
                    </div>
                </tr>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="user_header clearfix">
                    <div class="user_header clearfix">
                        <div class="name_wrap">
                            <h2 class="user_name"><span><%= user.name%></span>さん
                        </div>
                    </div>
                </div>
                <p class="card-text">自己紹介</p>
                <p><%= user.introduction %></p>
                <p class="card-text"></p>好きな時代</span>
                <p><%= user.like_age %></p>
                <p class="card-text">好きな武将</p>
                <p><%= user.like_busho %></p>
                <%# <p class="card-text"><small class="text-muted">最終更新3分前</small></p> %>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active"> <%= user.name.to_s+"さんの投稿一覧" %></a>
            </li>
            <li class="nav-item">
                <%= link_to "プロフィールの編集" , edit_user_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。</p>
        <a href="#" class="btn btn-primary">登録する</a>
    </div>
</div>
</div>