<div class="card mx-auto text-center">
    <div class="row no-gutters">
        <div class="col-md-4">
            <br>
            <%= attachment_image_tag user, :image, :fill, 100, 100, class: "img-rounded
            pull-left profile-thumb", fallback: "no_image.jpg", size:'150x200' %>
            <div>
                <%= render "follow_form" %>
            </div>
            <br>
            <div class="follow_count">
                <strong>フォロー:</strong>
                <%= link_to user.follower.count, user_follows_path(user) %>
            </div>
            <div class="follower_count">
                <strong>フォロワー:</strong>
                <%= link_to user.followed.count, user_followers_path(user) %>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-text fas fa-user-tie">
                    <%= user.name%>さん</h2>
                <br>
                <br>
                <h3 class="card-text fas fa-clipboard-list">自己紹介</h3>
                    <p><%= user.introduction %></p>
                <h3 class="card-text fas fa-clipboard-list">好きな時代</h3>
                    <p><%= user.like_age %></p>
                <h3 class="card-text fas fa-clipboard-list">好きな武将</h3>
                    <p><%= user.like_busho %></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active">
                <%= user.name.to_s+"さんの投稿一覧" %></a>
        </li>
        <% if @user == current_user %>
            <li class="nav-item">
                <%= link_to "プロフィールの編集" , edit_user_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "チャット一覧", rooms_path, class:"nav-link" %>
            </li>
        <% else %>
        <% end %>
    </ul>
</div>
<div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
</div>
</div>