<html>

<head>
    <% set_meta_tags title: "マイページ", description: 'に登録しているユーザーのプロフィールページを表示しております。' %>
</head>

<body>
    <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
    <% end %>
    <br>
    <div class="container-fluid col-md-7">
        <h1 class="text-align: text-center">
            マイページ</h1>
        <%= render 'profile', user: @user,now: ''%>

        <% if @user.id == current_user.id %>

        <% else %>
        <% if @isRoom == true %>
        <p><a href="/rooms/<%= @roomId %>">チャットへ</a></p>
        <% else %>
        <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
        <% end %>
        <% end %>
        <% end %>
    </div>
</body>