<head>
  <% set_meta_tags title: "ログイン", description: 'Web-Anのログインページです。' %>
</head>

<body>
  <div class="row">
    <div class="card mx-auto bg-light col text-center" style="width: 400px;">
      <h1 class="card-header">
        <legend>ログイン<legend>
      </h1>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form>
          <fieldset>
            <div class="form-group">
              <i class="fas fa-envelope"></i>
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Eメール" %>
            </div>
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
            </div>
            <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン状態を維持する %>
            <% end %>
            <p>採用担当者様 専用アカウント</p>
            <p>メールアドレス: recruit@example.com</p>
            <p>パスワード: password</p>
            <div class="actions">
              <%= f.submit "ログイン", class:"btn btn-primary" %>
            </div>
            <br>
            <div class="actions">
              <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name), class:"btn btn-warning" %><br />
            </div>
          </fieldset>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</body>