<% if isRoom == true %>
    <li><%= link_to "チャットへ", room_path(roomId) %></li>
    <% else %>
    <%= form_for room do |f| %>
    <%= fields_for entry do |e| %>
    <%= e.hidden_field :user_id, :value=> user.id %>
<% end %>
<%= f.submit "チャットを始める" %>
<% end %>
<% end %>