<body>
    <h1>DM</h1>

    <h4>参加者</h4>
    <% @entries.each do |e| %>
        <h5>
            <strong>
                <a><%= link_to e.user.name.to_s+"さん", user_path(e.user_id ) %></a>
            </strong>
        </h5>
    <% end %>
    <br>
    <%= render 'messages/message', messages: @messages %>

<div class="chat_form">
<%= form_for @message do |f| %>
<%= f.text_field :content, class:'form_message', :placeholder => "メッセージを入力して下さい" , :size => 70 %>
<%= f.hidden_field :room_id, :value => @room.id %>
<%= f.submit "送信", class: 'form_submit' %>
<% end %>
</div>
</body>