<body>
    <div class="mx-auto">
        <%= form_with model:@post do |f| %>
        <form>
            <div class="form-group">
                <strong><%= f.label :訪れた場所, class:"fas fa-clipboard-list"%></strong>
                <%= f.text_field :place_name, class: 'form-control' %>
            </div>
            <div class="form-group">
                <strong><%= f.label :タイトル, class:"fas fa-clipboard-list" %></strong>
                <%= f.text_area :title, class: 'form-control'%>
            </div>
            <div class="form-group">
                <strong><%= f.label :本文, class:"fas fa-clipboard-list" %></strong>
                <%= f.text_area :content, class: 'form-control'%>
            </div>
            <div class="form-group">
                <strong><%= f.label :投稿画像, class:"fas fa-images" %></strong>
                <%= f.attachment_field :post_images_images, multiple: true, class:"form-control-file" %>
                <small class="text-danger">画像は5枚まで投稿できます</small>
            </div>
            <%= f.submit "投稿する", class:'btn btn-primary'%>
        </form>
        <% end %>
    </div>
</body>