<html>

<head>
  <% set_meta_tags title: "みんなの投稿", description: 'このページでは実際にユーザーが訪れた場所を一覧で表示しております。' %>
</head>

<body>
  <br>
  <h1 class="fas fa-clipboard text-align: text-center">
    みんなの投稿</h1>
  <br>
  <div class="col-lg-4 col-md-7 mx-auto">
    <div class="text-center">
      <h2><%= link_to "投稿する！", new_post_path, class: "fas fa-plus-circle" %></h2>
    </div>
    <br>
    <div class="form-group">
      <%= search_form_for @q do |f| %>
      <div class="input-group">
        <%= f.search_field :place_name_or_content_cont, class:'form-control', :placeholder => "投稿を検索" %>
        <div class="input-group-append">
          <%= button_tag(class: "fas fa-search") do %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% if flash[:notice] %>
  <strong class="alert alert-danger text-center"><%= flash[:notice] %></strong>
  <% end %>
  <div class="container">
    <% @posts.each do |post| %>
    <div class="row mx-auto">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 ">
        <div class="post_user mx-auto text-center">
          <%= attachment_image_tag post.user, :image, :fill, 200, 200, class: "rounded-circle", fallback: "no_image.jpg", size:'100x100' %>
          <h3><strong><%= link_to post.user.name, user_path(post.user)%></strong></h3>
        </div>
      </div>
      <div class="card col-lg-9 col-md-7 balloon2-left">
        <div class=" card-body">
          <small class="float-right"><%= post.created_at.to_s(:datetime_jp) %></small>
          <h4 class="card-title">
            <strong><%= post.place_name %></strong>
          </h4>
          <h5 class="card-subtitle"><strong><%= post.title %></strong></h5>
          <p class="card-text"><%= post.content %></p>
          <div class="img-rounded pull-left profile-thum">
            <% post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
            <% end %>
          </div>
          <div id="favorites_buttons_<%= post.id %>">
            <%= render 'posts/favorite', post: post %>
          </div>
          <%= link_to "詳細", post_path(post), class:"fas fa-search-plus" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</body>

</html>