<html>

<head>
    <% set_meta_tags title: "みんなの投稿", description: 'このページでは実際にユーザーが訪れた場所を一覧で表示しております。' %>
</head>

<body>
    <div class='container'>
        <div class='col-xs-9'>
            <div class="container">
                <div class="row">
                    <%= link_to "投稿してみる", new_post_path, class: "nav-link" %>

                    <br>
                    <div class="card" style="width: 18rem;">
                        <% @posts.each do |post| %>
                        <div class="card-body">
                            <div class="name_wrap">
                                <%= link_to post.user.name, user_path(post.user), class: "align-self-start mr-3" %>
                                <h5 class="card-title"><%= post.place_name %></h5>
                                <p class="card-text"><%= post.content %></p>
                                <% post.post_images.each do |image| %>
                                <%= attachment_image_tag image, :image, :fill, 60, 60, class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg" %>
                                <% end %>
                                <div id="favorites_buttons_<%= post.id %>">
                                    <%= render 'posts/favorite', post: post %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>