<html>

<head>
    <% set_meta_tags title: "投稿作成ページ", description: 'このページで自分が訪れた観光地の情報を入力して投稿することができます。' %>
</head>

<body>
    <h1>投稿内容</h1>
    <%= form_with model:@post do |f| %>
    <div class="field row">
        <%= f.label :place_name %>
        <%= f.text_field :place_name, class: 'col-xs-12 post_place_name' %>
    </div>

    <div class="field row">
        <%= f.label :post_title %>
        <%= f.text_area :title, class: 'col-xs-12 post_title'%>
    </div>

    <div class="field row">
        <%= f.label :post_content %>
        <%= f.text_area :content, class: 'col-xs-12 post_content'%>
    </div>
    <div class="input-group mb-3">
        <%= f.attachment_field :post_images_images, multiple: true %>
    </div>

    <div class="actions row">
        <%= f.submit class: 'btn btn-primary col-xs-12'%>
    </div>
    <% end %>
</body>