<!DOCTYPE html>
<html>

<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/0038349627.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':
        'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-lg-center" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <%= link_to 'Home', root_path, class: "nav-link" %>
                </li>

                <li class="nav-item active">
                    <%= link_to 'このサイトについて', about_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                    <%= link_to 'みんなの投稿', posts_path, class: "nav-link" %></a>
                </li>
                <li class="nav-item active">
                    <%= link_to "掲示板", topics_path, class: "nav-link" %></a>
                </li>
                <li class="nav-item active">
                    <% if user_signed_in? %>
                    <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item active">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
                <% else %>
                <li class="nav-item active">
                    <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
                </li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>

<body>
    <%= yield %>
</body>
<footer>
    <p class="footer-text"></p>
</footer>

</html>